<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ventas.css" />
    <link rel="stylesheet" href="/styles/estiloGeneral.css" />
    <link rel="stylesheet" href="/styles/estiloTema.css" />
    <title>Ventas</title>
</head>
<body>
    <nav>
        <a href="/admin/dashboard">← Volver al Dashboard</a>
        <h1>Seccion de ventas</h1>
    </nav>

    <div id="tablas">
        
    
            <div id="tablasTop10">

                <div id="tablaTop10Productos">
                    <h2>Top 10 productos más vendidos</h2>
                    <table>
                        <thead>
                            <th>producto</th>
                            <th>cantidad</th>
                        </thead>

                        <tbody>
                             
                            <% top10Productos.forEach(productoTop => {%>
                                
                                <tr>
                                    <td><%=productoTop.producto%></td>
                                    <td><%=productoTop.cantidad%></td>

                                </tr>

                            <%}); %> 
                        </tbody>


                    </table>
                </div>

                <div id="tablaTop10Ventas">

                    <h2>Top 10 mayores ventas</h2>

                    <table>
                        <thead>
                            <th>id venta</th>
                            <th>comprador</th>
                            <th>valor total</th>
                        </thead>

                        <tbody>
                             
                            <% top10Ventas.forEach(ventaTop => {%>
                                
                                <tr>
                                    <td><%=ventaTop.id%></td>
                                    <td><%=ventaTop.comprador%></td>
                                    <td><%=ventaTop.valorFinal%></td>

                                </tr>

                            <%}); %> 
                        </tbody>


                    </table>
                
                </div>
            
            </div>
            
            
            <div id="divTablaTodasLasVentas">

                <h2>Todas las ventas</h2>

                <table id="tablaTodasLasVentas">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>comprador</th>
                            <th>productos</th>
                            <th>total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% ventas.forEach(venta => { %>
                            <tr>
                                <td><%=venta.id%></td>
                                <td><%=venta.comprador%></td>
                            
                                <td>
                                    <table class="tablaInterna">
                                        <thead>
                                            <th class="nombre">nombre</th>
                                            <th class="precioU">precio P/U</th>
                                            <th class="cant">cantidad</th>
                                            <th class="acum">precio acum</th>
                                            
                                        </thead>
                                            <tbody>
                                                <% venta.productos.forEach(producto => { %>
                                                    <tr>
                                                    <td><%=producto.nombre%></td>
                                                    <td><%=producto.precio%></td>
                                                    <td><%=producto.cantidad%></td>
                                                    <td><%=producto.precio * producto.cantidad%></td>
                                                    </tr>
                                                <% });%>
                                            </tbody>
                                        </table>
                                    
                            
                                </td>
                                <td><%=venta.valorFinal%></td>
                                
                            </tr>
                        <%});%>
                        
                    </tbody>
                </table>
            </div>

        
    </div>

    
</body>
</html>